
.gif--container {
  list-style: none;

  background-color: white;
  border-radius: .375rem;
  color: #333;
  max-width: 20rem;
  border: 4px solid #22d3ee;

  margin-bottom: .6rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.gif--container a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}
.gif--container img {
  width: 100%;
}